// color
$body: #f5f6fa;
$white: #fff;
$light-white: #f6fafd;
$black: #000;
$border: rgba(0, 0, 0, 0.38);
$blue: rgb(39, 84, 155);

// fonts Golos
$golos_fonts: "Golos Text", sans-serif;

// fonts Roboto
$roboto: "Roboto", sans-serif;
