* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: $body;
  
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important; 
  margin: 0;
  padding: 0;
}

p {
  font-family: "Montserrat", sans-serif !important; 
  margin: 0;
  padding: 0;
}

li,
ol {
  list-style: none;
}

button {
  font-family: "Montserrat", sans-serif !important; 
  border: none;
  cursor: pointer;
}

a {
  font-family: "Montserrat", sans-serif !important; 
  text-decoration: none;
}

input {
  font-family: "Montserrat", sans-serif !important; 
  outline: none;
}

select {
  font-family: "Montserrat", sans-serif !important; 
  outline: none;
  cursor: pointer;
}

.container {
  padding-left: 280px;
  padding-right: 24px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.home__wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
}

.routes {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
