.cart-button {
  position: fixed;
  top: 100px;
  right: 10px;
  border: 1.5px solid #46af6c;
  background: #fff;
  color: #46af6c;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;

  .cart-icon {
    margin-left: 8px;
    font-size: 18px;
    vertical-align: middle;
  }
}

.tov {
  padding: 20px;
  margin-top: 150px;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 15px;
    transition: all 0.2s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:hover {
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    img {
      width: 100%;
      height: 160px;
      object-fit: contain;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .description {
      width: 80%;
      height: 50px;
      font-size: 14px;
      color: #555;
      margin-bottom: 10px;
    }

    .price {
      font-weight: 600;
      font-size: 16px;
      color: #2e7d32;
      margin-bottom: 12px;
    }

    button {
      width: 90%;
      height: 40px;
      border: none;
      border: 1.5px solid #47b84c;
      background: transparent;
      color: #47b84c;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.2s ease;
      letter-spacing: 1px;
      span {
        font-weight: 600;
      }
      &:hover {
        background-color: #46af6c;
        border: none;
        color: #fff;
      }
    }

    .added {
      width: 90%;
      height: 40px;
      border: none;
      background-color: #46af6c;
      color: #fff;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.2s ease;
      letter-spacing: 1px;
      span {
        font-weight: 600;
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: white;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;

    .added {
      width: 90%;
      height: 40px;
      border: none;
      background-color: #46af6c;
      color: #fff;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.2s ease;
      letter-spacing: 1px;
      span {
        font-weight: 600;
      }
    }

    img {
      max-width: 100%;
      max-height: 200px;
      object-fit: contain;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin-bottom: 10px;

      &.price {
        color: #2e7d32;
        font-weight: 600;
      }
    }

    .add-cart-btn {
      width: 90%;
      height: 40px;
      border: none;
      border: 1.5px solid #47b84c;
      background: transparent;
      color: #47b84c;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.2s ease;
      letter-spacing: 1px;
      span {
        font-weight: 600;
      }
      &:hover {
        background-color: #46af6c;
        border: none;
        color: #fff;
      }
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #777;

      &:hover {
        color: black;
      }
    }
  }
}
